DB_HOST=localhost
DB_PORT=3306
DB_USER=toto
DB_PASSWORD=password
DB_NAME=your_db_name
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/your_db_name



# Vos autres variables
API_PREFIX="/api/v1"
CORS_ORIGINS="http://localhost:5173"
